@import "variable";

.checkout-steps {
  display: flex;
  margin: 0 1rem;

  > div {
    flex: 1;
    padding: 1rem;
    font-size: 2rem;
    color: $color-gray;

    &.activeCS {
      border-bottom: 0.2rem solid $color-yellow;
      color: $color-yellow-darker;
    }
  }
}
