@import "variable";

.cart-background {
  height: 100%;
  background-color: $color-gray-light;
}
.cart-screen {
  display: flex;
  margin: 0;
  padding: 1rem;

  &__item {
    background-color: white;
    min-width: 50rem;
    flex: 1 1 0;
    margin: 2rem 2rem 1rem 1rem;
    padding: 2rem;

    a {
      color: blue;
    }

    .price-title {
      position: relative;
      height: 2rem;

      > p {
        position: absolute;
        top: 0;
        right: 0;
        color: $font-color-3;
      }
    }

    &--info {
      display: flex;
      border-top: 0.2rem solid $color-gray;

      > div.image {
        width: 14rem;
        height: 14rem;
        display: flex;
        justify-content: center;
        align-items: center;

        > img {
          width: 14rem;
          max-height: 14rem;
          padding: 1rem;
        }
      }
      > div.info {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex: 1;
        padding: 1rem 2rem 1rem 1rem;

        > h2 {
          font-weight: normal;
        }
        > div {
          display: flex;

          > select {
            padding: 0.5rem 1rem;
            font-size: 1.6rem;
            margin-right: 2rem;
          }
          > div {
            border: 0.1rem solid $color-gray;
          }
          > i {
            margin-left: 2rem;
            padding: 1rem 2rem;
            color: red;
            font-size: 1.6rem;
            border: 0.2rem solid red;
            border-radius: 0.5rem;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
              color: white;
              background-color: red;
              transition: 0.5s;
            }
          }
        }
      }
      > div.price {
        position: relative;
        flex: 0 0 12rem;

        > h2 {
          position: absolute;
          right: 0;
          top: 1rem;
          font-weight: bold;
        }
      }
    }
  }
  &__order {
    flex: 0 0 30rem;
    padding: 1rem;
    margin: 1rem 0;

    > ul {
      background-color: white;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > li {
        padding: 1rem;

        &:nth-child(1) {
          margin: 0;
        }
        &:nth-child(2n) {
          width: 100%;
          padding: 1rem 2rem;
        }

        > button {
          padding: 1rem;
          width: 100%;
          border-radius: 0.5rem;
        }
      }
    }
  }
}

@media (max-width: 980px) {
  .cart-screen {
    flex-direction: column;

    &__item {
      margin: 1rem 1rem 0 1rem;

      &--info {
        > div.info {
          > h2 {
            font-size: 1.8rem;
          }
        }
        > div.price {
          flex: 0 0 8rem;
        }
      }
    }
  }
}

@media (max-width: 760px) {
  .cart-screen {
    &__item {
      margin: 1rem 1rem 0 1rem;

      &--info {
        > div.info {
          > h2 {
            font-size: 1.7rem;
          }
        }
        > div.price {
          flex: 0 0 6rem;
        }
      }
    }
  }
}
